<main class="space-y-5">
  <app-header
    (incrementCountEvent)="printEvent($event)"
    [isAuthenticated]="false"
  />

  <h1 class="text-red-500">Hello {{ title }}</h1>
  <span>Name do computed/signal: {{ firstNameCapitalized() }}</span>

  <form>
    <button
      class="p-2 rounded-md bg-blue-500 text-white"
      type="submit"
      (click)="sendForm($event)"
    >
      Set Name loga o submit
    </button>
  </form>

  @if(true) {
  <span class="text-emerald-500">ta true hein: IF</span>
  }

  <p>headerCount do eventEmitter callback: {{ headerCount() }}</p>

  <ul class="flex items-center gap-2">
    @for(item of items; track item.id) { @if($first) {
    <span class="text-xl text-pink-500">
      item do loop: {{ item.name }} {{ $index }}
    </span>
    } @else {
    <span class="text-xl text-orange-500">
      item do loop: {{ item.name }} {{ $index }}
    </span>
    }}
  </ul>

  <span class="text-lg"
    >Valor da soma do service injetado: {{ totalCost }}</span
  >

  <app-template-binding />
</main>

<router-outlet />
